:root{
    --cor-fundo: #121118;
    --cor-principal: #0a142b;
    --cor-secundaria: #1e08e4;
    --cor-destaque: #50c3f8;
    --cor-texto: #eeeeee;
 
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixa-principal {
    background-color: var(--cor-principal);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

button:active {
    background-color:red;
    color: pink;
    transition: 0.15s  ;
}
